        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
      setTimeout(() => {
        confetti({
          particleCount: 100,
          spread: 70,
          origin: { y: 0.6 },
          disableForReducedMotion: true
        });
      }, 500);
    </script>
  <!-- banner section start -->
  <div class="banner_section layout_padding">
    <div class="container">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text">Venha conhecer o</h1>
                <h1 class="controller_text">Clube VemJogar</h1>
                <p class="banner_text">Em breve, maiores informações para vocês!</p>                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text"></h1>
                <h1 class="controller_text">Roblox</h1>
                <p class="video_text">Blox Fruits, Anime Fighters e muito mais!!!!</p>                
              </div>
              <div class="col-md-6">
                <div class="image_1"><img src="images/banner-bloxfruits.png" /></div>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <h1 class="video_text"></h1>
                <h1 class="controller_text">Minecraft</h1>
                <p class="video_text">Survival, Mini Games, Servidor vip!</p>                
              </div>
              <div class="col-md-6">
                <div class="image_1"><img src="images/banner-minecraft.png" /></div>
            </div>
          </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- banner section end -->
  
    
    