<br />
<div class="card">
    <div class="card-body">
        <h1>Login do Sistema</h1>
        <form action="/usuario/logar" method="POST">
            <!-- Email input -->
            <div class="form-group row">
                <div class="col-xs-4">
                    <label class="form-label" for="email">Email: </label>
                    <input type="email" id="email" name="email" class="form-control" /> 
                </div>       
            </div>

            <!-- Password input -->
            <div class="form-group row">
                <div class="col-xs-4">
                    <label class="form-label" for="senha">Senha: </label>
                    <input type="password" id="senha" name="senha" class="form-control" />
                </div>     
            </div>
            <!-- Submit button -->
            <div class="form-group row">
                <div class="col-md-2 p-10">
                    <input type="submit" class="btn btn-primary" value="Logar">
                </div>
            </div>
        </form>
        {{#if erroLogin}}
            <div class="alert alert-danger">
                <strong>Erro: </strong> {{erroLogin}}.
            </div>        
        {{/if}}
        
    </div>
</div>   